@font-face {
  src: url('/static/Fonts/OpenSans-Regular.ttf');
  font-family: "Open Sans";
}
@font-face {
  src: url('/static/Fonts/OpenSans-Bold.ttf');
  font-family: "Open Sans";
  font-weight: bold;
}

body {
  margin: 0;
  background: #101114;
}

*{
  font-family: 'Open Sans';
}


